*{
    padding: 0;
    margin: 0;
    font-family: "MedievalSharp", sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("./assets/backgroundPage.png");
    background-size: 100vi;

}

.container {
    background-color: #e3e3e3;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    
}
.hero-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-info label {
    display: block;
    margin-bottom: 5px;
}

.hero-nameRankAttack {
    color: red;
}

.hero-info input,
.hero-info select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.hero-image {
    margin-bottom: 20px;
}

#hero-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#btn-atacar {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
